@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
</style>

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(247, 2, 2);
    
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    
}

nav h1{
    color:  rgb(236, 233, 228);
    font-family: 'Mountains of Christmas', serif;
    font-size: 40px;
    padding-right: 50px;
    margin-top: 15px;
    
}
nav .onglets{
    margin-top: -90px;
    margin-left: 790px;
    font-weight: bold;
    padding-top: 60px;
    font-size: 1.3em;
}
nav .onglets a{
    text-decoration: none;
    color: rgb(235, 230, 225);
    margin-right: 20px;
    font-family: "Mountains of Christmas";
    font-size: 1.5em;
}

.noel{
    margin-left: 68px;
}

.tete img{
    position: relative;
    left: 618px;
    bottom: 40px;
    width: 110px;
}

.fa-gifts{
    position: relative;
    color: white;
    font-size: 70px;
    top: 100px;
    left: 120px;
}
.fa-holly-berry{
    float: right;
    position: relative;
    right: 120px;
    font-size: 70px;
    color:white;
    top: 105px;
}

.fa-gift{
    position: relative;
    font-size: 40px;
    color: #fff;
    bottom: 75px;
    right: 50px;
    margin-left: 30px;
    

}

.fa-candy-cane{
    position: relative;
    font-size: 40px;
    color: #fff;
    bottom: 75px;
    right: 50px;
    
}

.fa-sleigh{
    position: relative;
    font-size: 8em;
    color: #fff;
    right: 150px;
    top: 95px;
}

.icnoel img{
    position: relative;
    width: 80px;
    left: 345px;
    top: 25px;
}

.present img{
    position: relative;
    left: 840px;
    top: -55px;
}

.fa-snowflake{
    
    position: relative;
    left: 1110px;
    color: #fff;
    font-size: 8em;
    top: 70px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    width: 100%;
    background-image: url(img/v.png);
    margin-top: 10px;
    height: 35%;

    
}


header h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.home-text{
    padding: 4px 17px;
    background-color:  rgb(241, 242, 243);
    border:none;
    margin-bottom: 127px;
    outline:none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 2em;
    transition: 0.5s;

    
}

.home-text:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

header .home-text{
    position:relative;
    top: 250px;
    
}

.home-text .btn{
    color:  rgb(250, 15, 7);
    font-size: 1.8em;
    font-family: "Mountains of Christmas";
    font-weight: bold;
    text-decoration: none;
}

.main{
    padding-top: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
    
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:rgb(238, 229, 229);
   color:rgb(255, 254, 254);
   border-radius: 5px;
   
}

.content p{
    font-family: "poppins";
}

.content h1{
    color:  rgb(184, 101, 19);
    font-size: 2em;
    font-weight: bold;
    font-family: 'Mountains of Christmas';
}

.content p{
    color: rgb(46, 37, 37);
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Mountains of Christmas';
}

#left{
    display: flex;
    justify-content:left;
    margin-left: -40px;
}

#right{
    display: flex;
    justify-content: right;
    margin-right: 85px;
}



.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
    border-radius: 5px;
    
}

footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 60px;
    
    border-width: 3px;
    color: wheat;
    padding-top: 12px;
}

.sepa{
    border: solid 2px;
    color: white;
}

.social{
    display: flex;
    list-style-type: none;
    padding-left: 40px;
    font-size: 1.5em;
    padding-top: 15px;
}

.fa-discord{
    color: white;
    margin-right: 15px;
}

.fa-twitter{
    color: white;
}

footer p{
    color: rgb(211, 200, 200);
    font-weight: bold;    
    padding-top: 10px;
    margin-left: 45px;
    font-family: 'Mountains of Christmas';
    font-size: 1.5em;

}



@media (max-width:1080px){


    .content .card {
        display: flex;
        flex-direction:column-reverse
    
    }
    
    #right.card{
        position: relative;
        left: 20px;
    }
     
    nav .onglets{
        display: flex;
        margin-left: 285px;
    
    }
    
    header{
        padding-left: 80px;
    }
    
    
    } 
    
    
    



@media (max-width:774px) {


    #left{
        position: relative;
        right: 20px;
    }
    
    #right{
        position: relative;
        left: 20px;
    }
    
    nav h1{
    
        margin-right: 377px;
    }  
    
    
    nav .onglets{
    
        margin-left: 133;
    }
    
    header .home-text{
        margin-top: -55px;
        margin-left: -54px;
    }
    
    header{
        background-size: 100%;
    }
    
    .content .card{
        display: flex;
        flex-direction: column-reverse;
    
    }
    
    
    footer{
        display: flex;
        flex-direction: column-reverse;
    }
    
    footer p{
        text-align: center;
        margin-right: 20px;
    }
    
}
    

    
    


@media (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}


@media  (max-width:560px) {


    #left.card{
        position: relative;
        left: 100px;
    }
    
    #right.card{
        left: 70px;
    }

    nav h1{
    
        margin-right: 60px;
    }  
    
    nav .onglets a{
        font-size: 1.8em;
    }
    
    nav .onglets{
        
       position: relative;
       left: 266px;
       margin-top: -147px;
        
    }

    .home-text .btn{
        font-size: 2em;
    }
    
    .home-text{
        left: -10px;
    }
    
    header{
           width: 137%;
    }
    
    .content .card{
        display: flex;
        flex-direction: column-reverse;
    
    }
    
    
    footer{
        display: flex;
        flex-direction: column-reverse;
    }

    .sepa{

        margin-left: 80px;
    margin-right: -94px;
}


.end{
    margin-left: -44px;
}
    

.social{
    margin-left: 267px;
    
    margin-top: -54px;
    font-size: 2.3em;

}

}




@media  (max-width:380px) {


    #left.card{
        
        
        left:175px;
    }

    #right.card{
        left: 70px;
    }
    
    nav h1{
    
        margin-right: 60px;
    }
    
    nav .onglets a{
        font-size: 1.7em;
        margin-left: 15px;
    }
  
    nav .onglets{
        margin-right: -70px;
    }

    
        
   
    
    .home-text{
        left: -50px;
    }
    
    
    header .home-text{
        margin-top: -79px;
    }
    
    header{
        padding-left: 166px;
    }
    
    .content .card{
        display: flex;
        flex-direction: column-reverse;

    }
        
    .sepa{
        margin-left: 55px;
        margin-top: 44px;
        margin-right: -247px;
    }


    .end{
        margin-left: -56px;
    }

    .social{
        margin-left: 233px;
        margin-bottom: 20px;
        margin-top: -65px;
        font-size: 2.5em;

    }
    
    }
    

    @media (max-width:360px) {



        header{
<<<<<<< HEAD
            padding-left: 853px;
            padding-top: 149px
         
        }
        
        .fa-snowflake{
            margin-right: 400px;
        }

        .fa-candy-cane{

            font-size: 0.8em;
        }
        .noel{
            position: relative;
            top: 20px;
            font-size:50;
            left: 100px;
=======
            padding-left: 327px;
            padding-top: 46px
>>>>>>> parent of bcee606 (4v)
        }
        
        nav h1{
        
            margin-right: -50px;
            margin-bottom: 13px;
            font-size: 6em;
        }  

         .home-text .btn{
            font-size: 2em;
         }
        
        .home-text{
            
            left: -118px;
        }
        
        nav .onglets a{
            font-size: 1.9em;
        }

        nav .onglets{
            position: relative;
            left: 800px;
            font-size: 2em;
        
           
        }
        

        #left.card{
            left: 290px;
        }
        
        #right.card{
            left: 83px;
        }
        
        .sepa{
            margin-left: 90px;
            margin-top: 44px;
            margin-right: -286px;
        }
        
        
        .end{
            margin-left: -50px;
            margin-right: -415px;
        }
        
         
        .social{
            margin-left: 229px;
            margin-top: 7px;
            margin-bottom: -10px;
            font-size: 2.5em;

        }
        
        .fa-gift{
            position: relative;
            left: 40px;
            width: 40px;
        }

    }